<div class="container py-5 px-4">
  <div class="row rounded-lg overflow-hidden shadow">

    <!-- Chat Box-->
    <div class="col-12 px-0">
      <div class="px-4 py-5 chat-box bg-white" id="chat_box">
      </div>

      <!-- Typing area -->
      <form action="#" class="bg-light needs-validation">
        <div class="input-group">
          <input id="message" name="message" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <button id="submitBtn" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
{{> loggedUserScript }}

<script>
  function pushNewMessage(message) {
    var chatBox = $('#chat_box');
    var profilePic = message.author.img;
    var author;

    if (loggedUser._id === message.author._id) {
      author = 'You';
    } else {
      author = message.author.name;
    }
    var template = `
      <div class="media mb-3">
        <img src="${profilePic}" alt="user" width="50" height="50" class="rounded-circle">
        <div class="media-body ml-3">
          <div class="bg-light rounded py-2 px-3 mb-2">
            <div class="d-flex align-items-center justify-content-between mb-1">
              <h6 class="mb-0">${author}</h6>
            </div>
            <p class="text-small mb-0 text-muted">${message.message}</p>
          </div>
          <p class="small text-muted">${moment(message.created).format('LT | MMM DD')}</p>
        </div>
      </div>
    `;
    chatBox.append(template);
  }

  function scroolToBottom(){
    var chatBox = $("#chat_box");
    chatBox.animate({ scrollTop: chatBox.prop("scrollHeight")}, 1000);
  }

  function loadLatestMessages(){
    $.get("/latest_messages", function(data) {
      if (data.ok) {
        if (data.messages.length) {
          data.messages.forEach((message) => {
            pushNewMessage(message);
          })
        } else {
          var message = {
            message: 'Hello! There are no messages yet :( . Just write something and click send, everybody\'s going to see it!',
            author: {
              name: 'Administrator',
              img: '/assets/img/default_avatar.png',
              _id: '',
            }
          };
          pushNewMessage(message);
        }
        scroolToBottom();
      }
    }).fail(function(data, textStatus, xhr) {
          //This shows status code eg. 403
          console.log("error", data.status);
          //This shows status message eg. Forbidden
          console.log("STATUS: "+xhr);
    })
  }

  $(function () {
    $('#submitBtn').prop('disabled', true);
    $('#message').keyup(function () {
      if ($(this).val() == '') {
          // If there is no text input then disable the button
          $('#submitBtn').prop('disabled', true);
      } else {
          //If there is text input, then enable the button
          $('#submitBtn').prop('disabled', false);
      }
    });

    const socket = io();

    socket.on('connect', () => {
      console.log('Connected');
    });

    socket.on('error', (reason) => {
      console.log(reason);
    });

    socket.on('chat message', (message) => {
      console.log(message);
      pushNewMessage(message);
      scroolToBottom();
    });

    $('form').submit(function(e) {
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', $('#message').val());
      $('#message').val('');
      $('#submitBtn').prop('disabled', true);
      return false;
    });

    loadLatestMessages();
  });
</script>