<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
          <div class="card-header">Sign Up</div>
          <div class="card-body">
            <form method="POST" class="needs-validation form-signup" novalidate>
              <div class="form-row mt-2">
                <div class="col">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" required>
                  <div class="invalid-feedback">
                    Please provide a valid Name.
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>
              <div class="form-row mt-2">
                <div class="col">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" name="email" required>
                  <div class="invalid-feedback">
                    Please provide a valid email.
                  </div>
                </div>
              </div>
              <div class="form-row mt-2">
                <div class="col">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                  <div class="invalid-feedback">
                    Please provide a valid password.
                  </div>
                </div>
              </div>
            <div id="register-link" class="text-left mt-2">
              <span class="text-info">
                You already have an account? please <a href="/sign_in">sign in</a>.
              </span>
            </div>
            <button class="btn btn-primary mt-4" type="submit">Sign Up!</button>
            </form>
            {{#if error}}
              {{#each errorMessages}}
                <div class="alert alert-danger mt-4" role="alert">
                  {{this}}
                </div>
              {{/each}}
            {{/if}}
          </div>
      </div>
  </div>
</div>

<script src="/assets/js/validate_form.js"></script>